@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700italic,300,300italic,700);
body {
  font-family: "Lato", sans-serif;
  background-color: #e3e3e3; }
  body h1 {
    color: #0000; }
  body h3 {
    color: #508e8e; }
  body p {
    font-size: 13px; }

.content {
  background-color: #FFF;
  border-radius: 20px; }
  .content .page-header {
    margin: 0 20px; }
  .content form {
    padding: 15px; }

.module {
  background-color: #143D8C; }
  .module p {
    padding-left: 10px;
    color: #fff;
    font-size: 13px;
    padding-right: 10px; }

.form .input {
  padding: 10px 0; }

/*# sourceMappingURL=styles.css.map */
