$font-color: #fff;
$primary-color: #143D8C;
$secondary-color: #e3e3e3;
$tertiary-color: #508e8e;

$web-font: 'Lato', sans-serif;
$text-padding-left: 10px;
$text-padding-right: 10px;

$padding-right: 10px;
$padding-left: 10px;


