body {
font-family: $web-font;
background-color: $secondary-color;
	h1 {
		color: #0000;
	}
	h3 {
		color: $tertiary-color;
	}
	p{
		font-size: 13px;
	}

}

.content {
	background-color: #FFF;
	border-radius: 20px;
	.page-header{
		margin: 0 20px;
	}
	form{
		padding: $padding;
	}
}

.module{
	background-color: $primary-color;
	p{
		padding-left: $text-padding-left;
		color: $font-color;
		font-size: 13px;
		padding-right: $text-padding-right;
	}
}
